li{
    margin: 15px;
}

a{
    text-transform: uppercase;
    font-family: 'Squada One', cursive;
    font-weight: 20;
    color: black;
}
ul{
    list-style-type: none;
}
.icono{
   margin-top: 10px;
    font-size: 40px;
}

.nav{
    background: gray;;
}